.testimonials {
  height: 28px;
  position: relative;
  display: inline-block;
}
.vuesaxlineararrowRightIcon {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: contain;
}
.vuesaxlineararrowRightWrapper {
  width: 48px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs);
}
.vuesaxlineararrowRightIcon1 {
  height: 32px;
  width: 32px;
  position: relative;
}
.testimonialContent,
.testimonialNavigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.testimonialContent {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.testimonialCard,
.testimonialDetails {
  width: 1120px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.testimonialCard {
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
}
.testimonialDetails {
  box-shadow: 0 12px 24px rgba(38, 46, 112, 0.4);
  flex-wrap: wrap;
  gap: var(--gap-13xl);
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
}
.paginationDotItems,
.paginationDotItems1 {
  height: 10px;
  width: 10px;
  position: relative;
  border-radius: 50%;
  background-color: var(--reply-bg);
}
.paginationDotItems1 {
  background-color: var(--color-gray-1000);
}
.paginationDotsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.pagination,
.testimonial {
  display: flex;
  max-width: 100%;
}
.pagination {
  width: 1120px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.testimonial {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-69xl) var(--padding-xl) var(--padding-43xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  background-image: url(/public/testimonial@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--reply-bg);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1050px) {
  .testimonials {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 750px) {
  .testimonialDetails {
    gap: var(--gap-base);
  }
  .testimonial {
    gap: var(--gap-xl);
    padding-top: var(--padding-38xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .testimonials {
    font-size: var(--font-size-5xl);
  }
  .testimonialContent {
    flex-wrap: wrap;
  }
}
