.graphicDesign,
.sebastian {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.graphicDesign {
  height: 8px;
  font-size: var(--font-size-xs);
  min-width: 92px;
}
.authorOccupations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.testimonialRatingsChild {
  height: 18px;
  width: 18px;
  position: relative;
  border-radius: var(--br-12xs-5);
}
.testimonialRatings {
  height: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.authorNames {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.loremIpsumIsSimply {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.paginationDotsIcon {
  width: 88.7px;
  height: 88.7px;
  position: absolute;
  margin: 0 !important;
  top: -52.4px;
  left: 27.6px;
  border-radius: 50%;
  object-fit: contain;
}
.testimonialAuthors {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--reply-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) var(--padding-lg) var(--padding-8xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  min-width: 264px;
  min-height: 235px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .authorNames {
    flex-wrap: wrap;
  }
}
